/* Root ---------------------------------------------------------------- */

body {
    margin: 0;
    background-color: white;
}

@font-face {
    font-family: test;
    src: url(HammersmithOne-Regular.ttf);
}

 body {
	 background: #222;
	 padding: 0;
	 margin: 0;
	 font-family: 'test', sans-serif;
	 font-weight: 300;
	 font-size: 13px;
	 text-transform: uppercase;
	 color: #000;
}
header {
	 background-color: #fff;
	 padding: 0;
	 margin: 0;
}

/* Classes ---------------------------------------------------------------- */


.frontPage {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.frontPage span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #fc766aff;
    font-size: 124px;
    letter-spacing: 8px;
    cursor: pointer;
  }
  
.frontPage span::before {
    content: "Ryan Thurston";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      #5cc8d7ff 2px,
      #5cc8d7ff 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
.frontPage span::after {
    content: "Ryan Thurston";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      #5cc8d7ff 2px,
      #5cc8d7ff 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
.frontPage span:hover:before {
    top: 10px;
    left: 10px;
  }
  
.frontPage span:hover:after {
    top: -10px;
    left: -10px;
  } 
  
/* -----------------------------Icon CLASSES----------------------------------- */

#linked {
    margin: auto;
}

#linked:hover {
    transform: scale(1.5);
    color: green;
    border-radius: 50%;
    border-bottom-left-radius: solid white;
}


.test {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #000 50%
    );
    cursor: pointer;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.test:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.test:hover {
    background-position: 0;
    cursor:pointer;
}

.test:hover::before {
    width: 100%;
}


.icon-container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 80rem;
    min-height: 200px;
    margin: auto;
    font-size: 80px;
    color: white;
    cursor: pointer;
}

.icon-container i {
    color: white;
    margin-bottom: 2rem;
    margin-right: 5rem;
    font-size: 6rem;
}

.icon-container a {
    margin: auto;
    text-decoration: none;
    color: white;
}

.icon-container a:hover, i:hover {
    cursor: pointer;
    
}

.testt {
    background-image: linear-gradient(
        to left,
        #54b3d6,
        #54b3d6 50%,
        #fff 50%
    );
    cursor: pointer;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.testt:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.testt:hover {
    background-position: 0;
    cursor:pointer;
}

.testt:hover::before {
    width: 100%;
}

.about-container {
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 100vh;
    text-align: center;
    overflow-x: visible;
    letter-spacing: 6px;
    line-height: 1.95rem;
}

.about-container h1 {
    font-size: 3rem;
}

.about-container h4 {
    font-size: 1.25rem;
    margin-bottom: 5rem;
}

.work-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* ----------------------------- Works Classes ----------------------------------- */

.works1, .works2, .works3 {
    width: 20rem;
    text-align: center;
    padding: 2rem 2rem;
}

.works1:hover, .works2:hover, .works3:hover {
    cursor: pointer;
}

/* ----------------------------- @media ----------------------------------- */

@media (max-width: 800px) {
    .frontPage span {
        font-size: 5rem;
    }
    .frontPage p {
        font-size: 1rem;
    }
    
    .content-container {
        border: solid;
    }

    .about-container {
        border: solid black;
    }
    .about-container h1{
        font-size: 30px;
        margin-bottom: 0.5rem;
        margin-top: -0.05rem;
    }
    .about-container h4 {
        font-size: 15px;
        margin: 1rem 8em;
    }
    #about {
        top: 100vh;
    }
    #works {
        top: 200vh;
    }
    .work-container {
        flex-direction: column;
        margin: auto;
    }
}

/* -----------------------------.WRAPPER CLASSES----------------------------------- */
.chevron {
    position: absolute;
    margin-top: 20rem;
    width: 2rem;
    height: 0.5rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 2s ease-out infinite;
}
.chevron:first-child {
    animation: move-chevron 2s ease-out 1s infinite;

}
.chevron:nth-child(2) {
    animation: move-chevron 2s ease-out 2s infinite;
}
.chevron:nth-child(3) {
    animation: move-chevron 2s ease-out 3s infinite;
}
.chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
}
.chevron:before {
    left: 0;
    transform: skewY(30deg);

}
.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}
@keyframes move-chevron {
    25% {
        opacity: 1;
   }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
   }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
   }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
   }
}

/* -----------------------------.SECTION CLASSES----------------------------------- */

.section {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    letter-spacing: 4px;
    overflow: hidden;
    clip: rect(0, auto, auto, 0);

}

.section .white {
    color: #fff;
}

.section:nth-child(1) {
    background-color: grey;
    color: white;
    top: 0;
    z-index: 1;
}

.section:nth-child(2) {
    background-color: #fff;
    color: black;
    top: 100vh;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.section:nth-child(3) {
    background: linear-gradient(-45deg, #fc766aff, #fc766aff, #5cc8d7ff, #5cc8d7ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    top: 200vh;
    z-index: 3;
}

.section:nth-child(4) {
    background: url(tt.png);
    color: #fff;
    top: 250vh;
    z-index: 4;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* -----------------------------.SECTION .FIXED CLASSES----------------------------------- */

.section .fixed {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
}

.section:nth-child(1) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(2) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(3) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(4) .fixed {
    transform: translate(-50%, -50%);
}



.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    padding: 3rem 1rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

  }
  
  .fliip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #5b84b1ff;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;  */}
  
  .flip-card-back {
    background-color: #143d59;
    color: #5b84b1ff;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    transform: rotateY(180deg);*/
    text-align: center;
    line-height: 1.25rem;

  }
.flip-card-front h1 {
    color: #143d59;
    font-size: .5rem;
}

.flip-card-front p {
    color: #143d59;
    font-size: .5rem;
}
.flip-card-back a {
    text-decoration: none;
    color: #5b84b1ff;
    font-size: .75rem;
}

.flip-card-back a:hover {
    color: #fc766aff;
    text-decoration: underline;
    font-size: 1rem;
}

.flip-card-back h1:hover {
    color: #fc766aff;
    font-size: 2.5rem;
}

.flip-card-back p:hover {
    color: #fc766aff;
}

/*div:nth-child(1) .flip-card-front {
    box-shadow: rgba(177, 98, 78, 0.4) -5px 5px , rgba(177, 98, 78, 0.3) -10px 10px, rgba(177, 98, 78, 0.2) -15px 15px, rgba(177, 98, 78, 0.1) -20px 20px, rgba(177, 98, 78, 0.05) -25px 25px;
}

div:nth-child(2) .flip-card-front {
    box-shadow: rgba(177, 98, 78, 0.4) 0px 5px, rgba(177, 98, 78, 0.3) 0px 10px, rgba(177, 98, 78, 0.2) 0px 15px, rgba(177, 98, 78, 0.1) 0px 20px, rgba(177, 98, 78, 0.05) 0px 25px;
}

div:nth-child(3) .flip-card-front {
    box-shadow: rgba(177, 98, 78, 0.4) 5px 5px, rgba(177, 98, 78, 0.3) 10px 10px, rgba(177, 98, 78, 0.2) 15px 15px, rgba(177, 98, 78, 0.1) 20px 20px, rgba(177, 98, 78, 0.05) 25px 25px;
}

div:nth-child(1) .flip-card-back {
    box-shadow: rgba(240, 91, 46, 0.4) -5px 5px, rgba(240, 91, 46, 0.3) -10px 10px, rgba(240, 91, 46, 0.2) -15px 15px, rgba(240, 91, 46, 0.1) -20px 20px, rgba(240, 91, 46, 0.05) -25px 25px;
}

div:nth-child(2) .flip-card-back {
    box-shadow: rgba(240, 91, 46, 0.4) 0px 5px, rgba(240, 91, 46, 0.3) 0px 10px, rgba(240, 91, 46, 0.2) 0px 15px, rgba(240, 91, 46, 0.1) 0px 20px, rgba(240, 91, 46, 0.05) 0px 25px;
}

div:nth-child(3) .flip-card-back {
    box-shadow: rgba(240, 91, 46, 0.4) 5px 5px, rgba(240, 91, 46, 0.3) 10px 10px, rgba(240, 91, 46, 0.2) 15px 15px, rgba(240, 91, 46, 0.1) 20px 20px, rgba(240, 91, 46, 0.05) 25px 25px;
}

*/

.flip-card-back h1 {
      margin-top: 4rem;
}


.slider {
    width: 400px;
    text-align: center;
    overflow: hidden;
  }
  
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .slides::-webkit-scrollbar {
    width: 0.1px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background-color: #fc766aff;
    background-image:-webkit-linear-gradient(45deg,
    rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,
    rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
    
  }
  .slides::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    margin-right: 50px;
    border-radius: 10px;
    background: transparent;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }








